<!--
<div class="container-fluid" style="margin-top: 60px; height: 600px; width: 80%; background-color: whitesmoke">
    <div class="row border mt-2" style="height: 45%;">
        <div class="col-12 col-sm-10" style="">
            <span>Beneficiados por Estado</span>
            <am-chart
                    id="iniciativaChart01"
                    json-chart-path="json/iniciativaChart01.json"
                    service-cnf="{
                        idTab:11,
                        idGra:1,
                        idQry:1
                    }"
                    zoom="{
                        ini:0,
                        end:4
                    }"
            >
            </am-chart>
        </div>
        <div class="col-12 col-sm-2 m-0 p-0" style="font-size: 13px;">
            &lt;!&ndash;-&#45;&#45; indicador &#45;&#45;&#45;&#45;&ndash;&gt;
            <div class="container-fluid m-0 p-0 border mt-2" style="background-color: white;">
                <div class="row m-0 p-0" style="background-color: white; ">
                    <div class="col-12">
                        <span>Total de Créditos</span>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-center">
                    <div class="col-auto">
                        <i class="fa fa-credit-card-alt fa-1x" aria-hidden="true"></i>
                        <span class="pl-3" style="font-size: 14px;font-weight: bold;">{{indicador.nuCant | number:0}}</span>
                    </div>
                </div>
            </div>

            &lt;!&ndash;-&#45;&#45; indicador &#45;&#45;&#45;&#45;&ndash;&gt;
            <div class="container-fluid m-0 p-0 border mt-2" style="background-color: white;">
                <div class="row m-0 p-0" style="background-color: white; ">
                    <div class="col-12">
                        <span style="font-size: 11px;">Entidades Afectadas</span>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-center">
                    <div class="col-auto">
                        <i class="fa fa-globe fa-1x" aria-hidden="true"></i>
                        <span class="pl-3" style="font-size: 14px;font-weight: bold;">{{indicador.nuEdo | number:0}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4" style="height: 45%;">
        <div class="col-12 col-sm-10 h-100" style="background-color: ">
            <span>Monto Total Otorgado para la Mejora o Reparación de Vivienda</span>
            <am-chart
                    id="iniciativaChart02"
                    json-chart-path="json/iniciativaChart02.json"
                    zoom="{
                        ini:0,
                        end:4
                    }"
                    service-cnf="{
                        idTab:11,
                        idGra:2,
                        idQry:1
                    }"

            >
            </am-chart>
        </div>
        <div class="col-12 col-sm-2 m-0 p-0" style="font-size: 13px;">
            &lt;!&ndash;-&#45;&#45; indicador &#45;&#45;&#45;&#45;&ndash;&gt;
            <div class="container-fluid m-0 p-0 border mt-2" style="background-color: white;">
                <div class="row m-0 p-0" style="background-color: white; ">
                    <div class="col-12">
                        <span>Monto Total</span>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-center">
                    <div class="col-auto">
                        <i class="fa fa-money fa-1x" aria-hidden="true"></i>
                        <span class="pl-3" style="font-size: 14px;font-weight: bold;">{{indicador.nuMonto | number:0}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->


