<div class="container" style="background-color: white">
    <form>
        <!--
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail1" class="col-sm-12 col-form-label base-font-black-normal-md">Fuente</label>
            <div class="col-sm-10">
                <input ng-model="txFuente" type="text" min="0" class="form-control" id="inputEmail1" placeholder="Fuenta" disabled="disabled">
            </div>
        </div>
        -->
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail3" class="col-sm-12 col-form-label base-font-black-normal-md">NSS</label>
            <div class="col-sm-10">
                <input ng-model="txNSS" type="text" min="0" class="form-control" id="inputEmail3" placeholder="NSS" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail2" class="col-sm-12 col-form-label base-font-black-normal-md">Crédito</label>
            <div class="col-sm-10">
                <input ng-model="txCredito" type="text" min="0" class="form-control" id="inputEmail2" placeholder="Crédito" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail4" class="col-sm-12 col-form-label base-font-black-normal-md">EstadoID</label>
            <div class="col-sm-10">
                <input ng-model="cvEstado" type="text" min="0" class="form-control" id="inputEmail4" placeholder="EstadoID" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail5" class="col-sm-12 col-form-label base-font-black-normal-md">Estado</label>
            <div class="col-sm-10">
                <input ng-model="txEstado" type="text" min="0" class="form-control" id="inputEmail5" placeholder="Estado" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail6" class="col-sm-12 col-form-label base-font-black-normal-md">Municipio</label>
            <div class="col-sm-10">
                <input ng-model="txMunicipio" type="text" min="0" class="form-control" id="inputEmail6" placeholder="Municipio" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail7" class="col-sm-12 col-form-label base-font-black-normal-md">Canal</label>
            <div class="col-sm-10">
                <input ng-model="txCanal" type="text" min="0" class="form-control" id="inputEmail7" placeholder="Canal" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail8" class="col-sm-12 col-form-label base-font-black-normal-md">RFC</label>
            <div class="col-sm-10">
                <input ng-model="txRFC" type="text" min="0" class="form-control" id="inputEmail8" placeholder="RFC" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail9" class="col-sm-12 col-form-label base-font-black-normal-md">CP</label>
            <div class="col-sm-10">
                <input ng-model="txCP" type="text" min="0" class="form-control" id="inputEmail9" placeholder="CP" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail10" class="col-sm-12 col-form-label base-font-black-normal-md">Dictamen</label>
            <div class="col-sm-10">
                <input ng-model="txDictamen" type="text" min="0" class="form-control" id="inputEmail10" placeholder="Dictamen" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail11" class="col-sm-12 col-form-label base-font-black-normal-md">Edificación</label>
            <div class="col-sm-10">
                <input ng-model="txEdificacion" type="text" min="0" class="form-control" id="inputEmail11" placeholder="Edificación" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail12" class="col-sm-12 col-form-label base-font-black-normal-md">Desastre</label>
            <div class="col-sm-10">
                <input ng-model="txDesastre" type="text" min="0" class="form-control" id="inputEmail12" placeholder="Desastre" disabled="disabled">
            </div>
        </div>
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;">
            <label for="inputEmail13" class="col-sm-12 col-form-label base-font-black-normal-md">Tipo de Persona</label>
            <div class="col-sm-10">
                <input ng-model="txTipoPersona" type="text" min="0" class="form-control" id="inputEmail13" placeholder="Tipo de Persona" disabled="disabled">
            </div>
        </div>

    </form>
</div>

