
<div class="container-fluid">
		<div class="row pm-row-group">
			<div class="col-12 col-sm-12 col-lg-5">
				<div class="pm-sgti-log">
					<p>SGTI</p>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-lg-7">
				<div class="row pm-sgti-totalsgti">
					<div class="col-12 col-sm-5 col-lg-6 pm-sgti-totalsgti-col">
						<div class="row">
							<div class="col-12 pm-sgti-totalsgti-col-title">
								<p>Proyectos</p>
							</div>
						</div>
						<div class="row" ng-repeat="p in totalProyecto">
							<div class="col-3 base-font-gray-normal-xl">
								<p>{{p.nuVal | number}}</p>
							</div>
							<div class="col-9 pm-sgti-totalsgti-txLabel base-font-gray-normal-xl">
								<p>{{p.txLabel}}</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-7 col-lg-6 justify-content-center pm-sgti-avanceproy-col">
							<amprogresschart mdato="avanceGral" class=""></amprogresschart>
					</div>
				</div>
			</div>
		</div>

		<div class="row cii-chart-cont pm-row-group pm-ini-gerencias" style="margin-top: 60px;">
			<div class="col-12 col-sm-12 col-lg-6 pm-ini-gerencias-row1" style="padding: 0px;">
				<div class="row pm-ini-gerencias-row2">
					<div class="col-6 col-sm-3 pm-ini-gerencias-card border-style-02" ng-model="avanceGerencia" ng-repeat="ag1 in avanceGerencia.slice(0,4)" style="padding: 0px;">
						<infoproycard mdato="ag1" isfirst="true"></infoproycard>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-lg-6 pm-ini-gerencias-row1" style="padding: 0px;">
				<div class="row pm-ini-gerencias-row2">
					<div class="col-6 col-sm-3 border-style-02" ng-repeat="ag2 in avanceGerencia.slice(4,avanceGerencia.length)" style="padding: 0px;" >
						<infoproycard mdato="ag2" isfirst="true"></infoproycard>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
