

<div class="row cii-chart-cont">
    <div class="w-100"></div>
    <div class="col-6">
        <h4>Detalle por Esquema</h4>
    </div>
    <div class="col-6">
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <amprogresschart mdato="gaugeData"></amprogresschart>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
        <amstackedcolumn mdato="scServidoresData" dataconf="scServidoresChartConf"></amstackedcolumn>
    </div>
    <div class="col-12 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <amstackedcolumn mdato="stackedDataEsquema" dataconf="scEsquemaDataConf"></amstackedcolumn>
    </div>
</div>