<br/>
<span>
    Informe al 12 de octubre de 2017 de las acciones emprendidas para la atención de los desastres naturales presentados a partir del pasado 19 de septiembre de 2017
</span>
<br/>
<br/>
<span>
Total de acreditados y derechohabientes que han contactado al Instituto por los diferentes canales: 25,869
</span>
<br/>
<span>
Desglose por canal
</span>
<ul>
    <li>
        Atención y servicios 8,670
    </li>
    <li>
        Brigada Infonavit 6,472
    </li>
    <li>
        Cartera 5,589
    </li>
    <li>
        Delegaciones 4,300
    </li>
    <li>
        Portal Infonavit 838
    </li>
</ul>

<span>
De los cuales no le aplica el seguro a 12,177 y si aplica a 13,023
Dentro de ellos pérdida total 652, Daño parcial 5,403
</span>
<br/>
<span>
La SGTI está integrando al CRM las 16 iniciativas del Instituto para atender a todos los afectados de manera pronta, así como las 10 medidas públicas que han sido comunicadas por diferentes medios para atender a los afectados por los desastres naturales, mismas que será visualizadas en el tablero integral con forme cada una de las áreas involucradas empiece a generar la información correspondiente.
</span>


