<!--<nav class="nav nav-tabs" id="myTab" role="tablist">
    <a type="button" class=" btn btn-sm nav-link active mr-1" id="pills-home-tab1" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-expanded="true">
        Censo
    </a>
    <button type="button" class=" btn btn-sm nav-link mr-1" id="pills-home-tab2" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-expanded="true">
        Dictamen
    </button>
    <button type="button" class=" btn btn-sm nav-link mr-1" id="pills-home-tab3" data-toggle="pill" href="#pills-home3" role="tab" aria-controls="pills-home" aria-expanded="true">
        Tuberia
    </button>
</nav>-->

<!--<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
    <a class="nav-item nav-link active" target="_self" id="nav-home3-tab1" data-toggle="tab" href="#nav-home31" role="tab" aria-controls="nav-home3-tab1" aria-expanded="true">
        1.- Movilidad Habitacional
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab2" data-toggle="tab" href="#nav-home32" role="tab" aria-controls="nav-home3-tab2">
        2.- Otorgamiento Inmediato del Seguro de Crédito
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab3" data-toggle="tab" href="#nav-home33" role="tab" aria-controls="nav-home3-tab3">
        3.- Apoyo Temporal de Alojamiento
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab4" data-toggle="tab" href="#nav-home34" role="tab" aria-controls="nav-home3-tab4">
        4.- Crédito Revolvente Reparación Vivienda
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab5" data-toggle="tab" href="#nav-home35" role="tab" aria-controls="nav-home3-tab5">
        5.- Crédito Puente para Acreditados
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab6" data-toggle="tab" href="#nav-home36" role="tab" aria-controls="nav-home3-tab6">
        6.- Monto Adicional a los 10,000
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab7" data-toggle="tab" href="#nav-home37" role="tab" aria-controls="nav-home3-tab7">
        7.- Derecho a Crédito en Caso de Pérdida Total
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab8" data-toggle="tab" href="#nav-home38" role="tab" aria-controls="nav-home3-tab8">
        8.- Construcción en Terreno Propio
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab9" data-toggle="tab" href="#nav-home39" role="tab" aria-controls="nav-home3-tab9">
        9.- Apoyo Acreditado en Terreno Vertical
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab10" data-toggle="tab" href="#nav-home310" role="tab" aria-controls="nav-home3-tab10">
        10.- Preservación Línea de Crédito
    </a>
</div>-->
<!--<nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" target="_self" id="nav-home3-tab1" data-toggle="tab" href="#nav-home31" role="tab" aria-controls="nav-home3-tab1" aria-expanded="true">
        1.- Movilidad Habitacional
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab2" data-toggle="tab" href="#nav-home32" role="tab" aria-controls="nav-home3-tab2">
        2.- Otorgamiento Inmediato del Seguro de Crédito
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab3" data-toggle="tab" href="#nav-home33" role="tab" aria-controls="nav-home3-tab3">
        3.- Apoyo Temporal de Alojamiento
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab4" data-toggle="tab" href="#nav-home34" role="tab" aria-controls="nav-home3-tab4">
        4.- Crédito Revolvente Reparación Vivienda
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab5" data-toggle="tab" href="#nav-home35" role="tab" aria-controls="nav-home3-tab5">
        5.- Crédito Puente para Acreditados
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab6" data-toggle="tab" href="#nav-home36" role="tab" aria-controls="nav-home3-tab6">
        6.- Monto Adicional a los 10,000
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab7" data-toggle="tab" href="#nav-home37" role="tab" aria-controls="nav-home3-tab7">
        7.- Derecho a Crédito en Caso de Pérdida Total
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab8" data-toggle="tab" href="#nav-home38" role="tab" aria-controls="nav-home3-tab8">
        8.- Construcción en Terreno Propio
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab9" data-toggle="tab" href="#nav-home39" role="tab" aria-controls="nav-home3-tab9">
        9.- Apoyo Acreditado en Terreno Vertical
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-home3-tab10" data-toggle="tab" href="#nav-home310" role="tab" aria-controls="nav-home3-tab10">
        10.- Preservación Línea de Crédito
    </a>
</nav>-->
<!--<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="nav-home31" role="tabpanel" aria-labelledby="nav-home3-tab1">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home32" role="tabpanel" aria-labelledby="nav-home3-tab2">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" style="background-color: white;" id="nav-home33" role="tabpanel" aria-labelledby="nav-home3-tab3">
        <div style="height:  700px; background-color: white;">
            <div ui-view="tableroIniciativaMonto"></div>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home34" role="tabpanel" aria-labelledby="nav-home3-tab4">
        <div style="width: 100%; height: 600px; text-align: center;">
            <div ui-view="tableroIniciativaCedRev"></div>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home35" role="tabpanel" aria-labelledby="nav-home3-tab5">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home36" role="tabpanel" aria-labelledby="nav-home3-tab6">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home37" role="tabpanel" aria-labelledby="nav-home3-tab7">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home38" role="tabpanel" aria-labelledby="nav-home3-tab8">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home39" role="tabpanel" aria-labelledby="nav-home3-tab9">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-home310" role="tabpanel" aria-labelledby="nav-home3-tab10">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
</div>-->

<!--
<div class="card text-center w-100 h-100">
    <div class="card-header w-100">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" ng-repeat="nt in navTabs">
                <button class="nav-link" ng-class="nt.objClass" ng-click="selectTab(nt)">{{nt.txTitulo}}</button>
            </li>
        </ul>
    </div>
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 1 PRIMER TAB &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class="card-body p-0 w-100 h-100" style="height: 600px;">
        <div ui-view="tableroCenso"></div>
    </div>
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 2 PRIMER TAB &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class="card-body p-0" ng-show="navTabs[1].objClass.active" style="height: 85%;">
        <div class="container-fluid detalleGerenciaMainCont m-0 p-0">
            <div class="row no-gutters rowCont m-0 p-0" style="padding: 0px; background-color: #FFFFFF">
                <div class="col-12 m-0 pt-3 colCont">


                </div>
            </div>
        </div>
    </div>

    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 3 PRIMER TAB &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class="card-body p-0" ng-show="navTabs[2].objClass.active" style="height: 85%;">
        <div class="container-fluid detalleGerenciaMainCont m-0 p-0">
            <div class="row no-gutters rowCont m-0 p-0" style="padding: 0px; background-color: #FFFFFF">
                <div class="col-12 m-0 pt-3 colCont">
                    <div style="width: 100%; height: 600px;">
                        <span>SIN INFORMACIÓN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<style>

</style>
<div class="row" style="margin-top: 5px;">
    <div class="nav flex-column nav-pills col-3" id="v-pills-tab" role="tablist" style="font-size: 11px;background-color: whitesmoke;">
        <div style="height: 800px; overflow: scroll">
            <a class="nav-item nav-link" target="_self" id="{{'nav-home3-tab'+$index}}"
               data-toggle="tab" href="{{'#nav-home3'+$index}}" role="tab" aria-controls="nav-home3-tab1"
               aria-expanded="true" ng-click="loadChart(obIn.idIniciativa)"
               ng-repeat="obIn in lstIniciativas"
            >
                {{obIn.txIniciativa}}
            </a>
        </div>


<!--
        <a class="nav-item nav-link active" target="_self" id="nav-home3-tab1" data-toggle="tab" href="#nav-home31" role="tab" aria-controls="nav-home3-tab1" aria-expanded="true" ng-click="loadChart(1)">
            1.- Movilidad Habitacional Uso del saldo de la subcuenta de vivienda
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab2" data-toggle="tab" href="#nav-home32" role="tab" aria-controls="nav-home3-tab2" ng-click="loadChart(2)">
            2.- No aplicación del SIC
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab3" data-toggle="tab" href="#nav-home33" role="tab" aria-controls="nav-home3-tab3" ng-click="loadChart(3)">
            3.- Otorgamiento inmediato del segundo crédito
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab4" data-toggle="tab" href="#nav-home34" role="tab" aria-controls="nav-home3-tab4" ng-click="loadChart(4)">
            4.- Línea IV en su versión sin afectación estructural y sin garantía hipotecaria
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab5" data-toggle="tab" href="#nav-home35" role="tab" aria-controls="nav-home3-tab5" ng-click="loadChart(5)">>
            5.- Preservación de la precalificación de crédito antes de los desastres naturales
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab6" data-toggle="tab" href="#nav-home36" role="tab" aria-controls="nav-home3-tab6" ng-click="loadChart(6)">
            6.- Construcción individual en terreno propio
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab7" data-toggle="tab" href="#nav-home37" role="tab" aria-controls="nav-home3-tab7" ng-click="loadChart(7)">
            7.- Uso de la reserva para Daños Catastróficos que afecten a las viviendas financiadas por el Infonavit
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab8" data-toggle="tab" href="#nav-home38" role="tab" aria-controls="nav-home3-tab8" ng-click="loadChart(8)">
            7.1.- Apoyo para alojamiento temporal/renta
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab9" data-toggle="tab" href="#nav-home39" role="tab" aria-controls="nav-home3-tab9" ng-click="loadChart(9)">
            7.2.- Monto adicional hasta por $10,000 pesos por enseres
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab10" data-toggle="tab" href="#nav-home310" role="tab" aria-controls="nav-home3-tab10" ng-click="loadChart(10)">
            7.3.- Liquidez (cédito puente) antes de que pague la aseguradora
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab11" data-toggle="tab" href="#nav-home311" role="tab" aria-controls="nav-home3-tab11" ng-click="loadChart(11)">
            7.4.- Apoyo adicional en vivienda vertical
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab12" data-toggle="tab" href="#nav-home312" role="tab" aria-controls="nav-home3-tab12" ng-click="loadChart(12)">
            7.5.- Gastos de operación de brigadas
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab13" data-toggle="tab" href="#nav-home313" role="tab" aria-controls="nav-home3-tab13" ng-click="loadChart(13)">
            7.6.- Gastos de demolición
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab14" data-toggle="tab" href="#nav-home314" role="tab" aria-controls="nav-home3-tab14" ng-click="loadChart(14)">
            7.7.- Contratación de proveedores para evaluación de daños
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab15" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab15" ng-click="loadChart(15)">
            8.- Reestablecer el derecho a crédito en caso de pérdida total
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab16" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab16" ng-click="loadChart(16)">
            9.- Seguros: a) De vida b)De daños
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab17" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab17" ng-click="loadChart(17)">
            10.- Medidas de recaudación fiscal
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab18" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab18" ng-click="loadChart(18)">
            11.- Aportación voluntaria de los trabajadores del Infonavit
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab19" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab19" ng-click="loadChart(19)">
            12.- Recibir donativos de empresas aportantes (FUNDEMEX) a través del SUA
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab20" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab20" ng-click="loadChart(20)">
            13.- Apoyo crediticio a empleados Infonavit afectados por desastres naturales
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab21" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab21" ng-click="loadChart(21)">
            14.- Reactivar mecanismos de emisión de CEDEVIS
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab22" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab22" ng-click="loadChart(22)">
            15.- Donativo Fundación Hogares
        </a>
        <a class="nav-item nav-link" target="_self" id="nav-home3-tab23" data-toggle="tab" href="#nav-home315" role="tab" aria-controls="nav-home3-tab23" ng-click="loadChart(23)">
            16.- Mecanismo Especial de Atención y Servicio
        </a>
-->
    </div>
    <div class="tab-content col-9 m-0 p-0" id="v-pills-tabContent">
<!--        <div style="height:  1000px; background-color: white;">
            <div ui-view="tableroIniciativaGenericoView"></div>
        </div>-->
        <div style="height:  1000px; background-color: white;">
            <div ui-view="tableroReporteFormatoUnico"></div>
        </div>
    </div>

</div>

