<div ui-view="tableroReporteFormatoUnicoS1" ng-if="s==1" class="exportar-pptx" ></div>
<div ui-view="tableroReporteFormatoUnicoS2" ng-if="s==2" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS3" ng-if="s==3" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS4" ng-if="s==4" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS5" ng-if="s==5" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS6" ng-if="s==6" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS7" ng-if="s==7" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS8" ng-if="s==8" class="exportar-pptx"></div>
<div ui-view="tableroReporteFormatoUnicoS9" ng-if="s==9" class="exportar-pptx"></div>
<button id="generaPPTX" ng-click="generaPPTX()">Exportar a PPTX</button>
<button id="generaXLSX" ng-click="generaXLSX()">Exportar a Excel</button>