<div iniciativa="1">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="2">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="3">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="4">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="5">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="6">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="8">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="9">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="10">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="11">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="12">
    <div ui-view="tableroReporteFormatoUnicoS2" class="exportar-pptx" ></div>
</div>
<div iniciativa="13">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="14">
    <div ui-view="tableroReporteFormatoUnicoS2" class="exportar-pptx" ></div>
</div>
<div iniciativa="15">
    <div ui-view="tableroReporteFormatoUnicoS3" class="exportar-pptx" ></div>
</div>
<div iniciativa="16">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="17">
    <div ui-view="tableroReporteFormatoUnicoS5" class="exportar-pptx" ></div>
</div>
<div iniciativa="18">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="19">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="20">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="21">
    <div ui-view="tableroReporteFormatoUnicoS6" class="exportar-pptx" ></div>
</div>
<div iniciativa="22">
    <div ui-view="tableroReporteFormatoUnicoS8" class="exportar-pptx" ></div>
</div>
<div iniciativa="23">
    <div ui-view="tableroReporteFormatoUnicoS9" class="exportar-pptx" ></div>
</div>
<div iniciativa="24">
    <div ui-view="tableroReporteFormatoUnicoS4" class="exportar-pptx" ></div>
</div>
<div iniciativa="25">
    <div ui-view="tableroReporteFormatoUnicoS1" class="exportar-pptx" ></div>
</div>
<div iniciativa="26">
    <div ui-view="tableroReporteFormatoUnicoS2" class="exportar-pptx" ></div>
</div>

<button id="generaPPTX" ng-click="generaPPTX()">Exportar a PPTX</button>
<button id="generaXLSX" ng-click="generaXLSX()">Exportar a Excel</button>
