<div ui-view="tableroReporteFormatoUnicoS1" ng-if="s==1"></div>
<div ui-view="tableroReporteFormatoUnicoS2" ng-if="s==2"></div>
<div ui-view="tableroReporteFormatoUnicoS3" ng-if="s==3"></div>
<div ui-view="tableroReporteFormatoUnicoS4" ng-if="s==4"></div>
<div ui-view="tableroReporteFormatoUnicoS5" ng-if="s==5"></div>
<div ui-view="tableroReporteFormatoUnicoS6" ng-if="s==6"></div>
<div ui-view="tableroReporteFormatoUnicoS7" ng-if="s==7"></div>
<div ui-view="tableroReporteFormatoUnicoS8" ng-if="s==8"></div>
<div ui-view="tableroReporteFormatoUnicoS9" ng-if="s==9"></div>
