@import "../../sass/vars";
@import "../../sass/fontmixins";


.principalMain{

  .tituloCol{
    border-bottom: 1px solid #FFFFFF;

    .tituloCont{
      text-align: left; width:200px; background-color: #FFFFFF;


      .tituloText{

      }
    }
  }
}



