<style>
    .gridResumen .ui-grid-header-cell .ui-grid-cell-contents {
        height: 100px;
        white-space: normal;
        -ms-text-overflow: clip;
        -o-text-overflow: clip;
        text-overflow: clip;
        overflow: hidden;
        margin-right: 5px;
        margin-left: 5px;
    }

    .gridResumen .ui-grid-cell .ui-grid-cell-contents {
        white-space: normal;
        -ms-text-overflow: clip;
        -o-text-overflow: clip;
        text-overflow: clip;
        overflow: hidden;
        margin-right: 5px;
        margin-left: 5px;
    }

</style>

<div class="card text-center h-100">
    <div class="" >
        <div id="grid4" ui-grid="gridOpt4" class="grid" style="width: 800px; height: 465px;"></div>
    </div>
</div>
