<style>
    .gridBusqueda{
        font-size: 12px;
    }
</style>
<div class="container-fluid principalMain m-0 p-0" style="margin-top: 20px !important;">
    <div class="form-group row m-0 p-1 bottom-line rounded-bottom justify-content-center">
        <div class="col-auto p-1">
            <span>Carga de Archivos excel</span>
        </div>
    </div>
    <div class="row  m-0 p-1 mt-3">

        <div class="col-6 rounded p-2 m-0" style="background-color: whitesmoke;">
            <input type="file" import-sheet-js=""  opts="detalleExcelOpt" multiple="false"  />
            <!--div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div-->
            <span></span>
            <p>archivo etc </p>
            <p>Plan de respuesta inmediata INFONAVIT </p>
            <span>mas Información al : 17/10/2017 </span>
        </div>
        <div class="col-1 "></div>
        <div class="col-5 rounded p-1 m-0 mb-1" style="background-color: whitesmoke;">
            <div id="gridColumnasRequeridas" ui-grid="colRequeridasOpt" class="gridBusqueda" style="width: 99.9%;"></div>
        </div>
        <div class="w-100 ">
            <div class="col rounded p-2 m-0" style="background-color: whitesmoke;" >
                <div class="row">
                    <div class="col-6">
                        <span>texto</span>
                    </div>
                    <div class="col-1">
                        <button id="btnUploadFile" type="button" class="btn btn-success" ng-click="nuevoUploadDB($event)"><i class="fa" aria-hidden="true"></i><span class="pl-1">subir archivo</span></button>
                    </div>

                </div>

            </div>
            <div class="col-12 m-0 p-0 mt-2" >
                <div class="row no-gutters gradiente mb-4 rounded">
                    <div class="col-12 pt-3 pl-2">
                        <div id="grid4ExcelUpload" ui-grid="detalleExcelOpt"  ui-grid-selection ui-grid-exporter class="grid" style="width: 99.9%" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>