<style>
    .gridBusqueda{
        font-size: 12px;
    }
</style>
<div class="container-fluid principalMain m-0 p-0" style="margin-top: 60px !important;">
    <div class="form-group row m-0 p-1 bottom-line rounded-bottom justify-content-center">
        <div class="col-auto p-1">
            <span>Carga de Archivos Excel</span>
            <p>Área:{{layoutDef.txArea}}</p>
        </div>
    </div>
    <div class="row  m-0 p-1 mt-3">

        <div class="col-6 rounded p-2 m-0" style="background-color: whitesmoke;">
            <label for="muestra">limite de muestra:</label>
        	<select style="width: 100%;" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="muestra" ng-model="detalleExcelOpt.muestreo" ng-options="option.tx for option in muestreoExcel track by option.nu">
			</select>
            <label for="HeaderLine">linea de Encabezado:</label>
        	<input ng-model="layoutDef.nuLineaEncabezado" type="number" class="form-control" id="HeaderLine" placeholder="renglón">
            <input type="file" import-sheet-js=""  opts="detalleExcelOpt" hcfg="layoutDef" ccfg="colRequeridasOpt.data" multiple="false"  />
            <!--div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div-->
            <p>Información del Documento.</p>
            <p>Aplicación: {{detalleExcelOpt.ResumenInfo.Props.Application}}</p>
            <p>Autor: {{detalleExcelOpt.ResumenInfo.Props.Author}}</p>
            <p>Compañia: {{detalleExcelOpt.ResumenInfo.Props.Company}}</p>
            <p></p>
            <p>total columnas: {{detalleExcelOpt.ResumenInfo.totalCols}}</p>
            <p>total renglones: {{detalleExcelOpt.ResumenInfo.totalReg}}</p>
            
        </div>
        <div class="col-1 "></div>
        <div class="col-5 rounded p-1 m-0 mb-1" style="background-color: whitesmoke;">

            <span>Plantilla para: "{{layoutDef.txNombreLayout}}" Hoja: "{{layoutDef.txNombreHoja}}"</span>
            <div id="gridColumnasRequeridas" ui-grid="colRequeridasOpt" class="gridBusqueda" style="width: 99.9%;"></div>
        </div>
        <div class="w-100 ">
            <div class="col-12 m-0 p-0 mt-2" >
                <div class="row no-gutters gradiente mb-4 rounded">
                    <div class="col-12 pt-3 pl-2">
                        <div id="grid4ExcelUpload" ui-grid="detalleExcelOpt"  ui-grid-selection ui-grid-exporter class="grid" style="width: 99.9%" ></div>
                    </div>
                </div>
            </div>
            <div class="col rounded p-2 m-0" style="background-color: whitesmoke;" >
                <div class="alert alert-{{x.type}}" ng-repeat="x in detalleExcelOpt.MessageErrors" >{{x.msg}}</div>
                <div class="row">
                    <div class="col-1">
                        <button id="btnUploadFile" type="button" class="btn btn-success" ng-disabled="!detalleExcelOpt.canSubmit" ng-click="nuevoUploadDB($event)"><i class="fa" aria-hidden="true"></i><span class="pl-1">subir archivo</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>