<!--<nav class="nav nav-tabs" id="myTab" role="tablist">
    <a type="button" class=" btn btn-sm nav-link active mr-1" id="pills-home-tab1" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-expanded="true">
        Censo
    </a>
    <button type="button" class=" btn btn-sm nav-link mr-1" id="pills-home-tab2" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-expanded="true">
        Dictamen
    </button>
    <button type="button" class=" btn btn-sm nav-link mr-1" id="pills-home-tab3" data-toggle="pill" href="#pills-home3" role="tab" aria-controls="pills-home" aria-expanded="true">
        Tuberia
    </button>
</nav>-->
<nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" target="_self" id="nav-areas-tab1" data-toggle="tab" href="#nav-areas21" role="tab" aria-controls="nav-areas-tab1" aria-expanded="true">
        Atención y Servicios
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab2" data-toggle="tab" href="#nav-areas22" role="tab" aria-controls="nav-areas-tab2">
        Crédito
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab3" data-toggle="tab" href="#nav-areas23" role="tab" aria-controls="nav-areas-tab3">
        Cartera
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab4" data-toggle="tab" href="#nav-areas24" role="tab" aria-controls="nav-areas-tab4">
        Comunicación
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab5" data-toggle="tab" href="#nav-areas25" role="tab" aria-controls="nav-areas-tab5">
        Administración
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab6" data-toggle="tab" href="#nav-areas26" role="tab" aria-controls="nav-areas-tab6">
        Recursos Humanos
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab7" data-toggle="tab" href="#nav-areas27" role="tab" aria-controls="nav-areas-tab7">
        Delegaciones
    </a>
    <a class="nav-item nav-link" target="_self" id="nav-areas-tab8" data-toggle="tab" href="#nav-areas28" role="tab" aria-controls="nav-areas-tab8">
        Jurídico
    </a>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-areas21" role="tabpanel" aria-labelledby="nav-areas-tab1">
        <div ui-view="tableroAreaAtencion"></div>
    </div>
    <div class="tab-pane fade" id="nav-areas22" role="tabpanel" aria-labelledby="nav-areas-tab2">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-areas23" role="tabpanel" aria-labelledby="nav-areas-tab3">
        <div ui-view="tableroAreaCartera"></div>
    </div>
    <div class="tab-pane fade" id="nav-areas24" role="tabpanel" aria-labelledby="nav-areas-tab4">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-areas25" role="tabpanel" aria-labelledby="nav-areas-tab5">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-areas26" role="tabpanel" aria-labelledby="nav-areas-tab6">
        <div ui-view="tableroAreaRH"></div>
    </div>
    <div class="tab-pane fade" id="nav-areas27" role="tabpanel" aria-labelledby="nav-areas-tab7">
        <div ui-view="tableroAreaDel"></div>
    </div>
    <div class="tab-pane fade" id="nav-areas28" role="tabpanel" aria-labelledby="nav-areas-tab8">
        <div style="width: 100%; height: 600px; text-align: center;">
            <span>Sin Información</span>
        </div>
    </div>
</div>

<!--
<div class="card text-center w-100 h-100">
    <div class="card-header w-100">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" ng-repeat="nt in navTabs">
                <button class="nav-link" ng-class="nt.objClass" ng-click="selectTab(nt)">{{nt.txTitulo}}</button>
            </li>
        </ul>
    </div>
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 1 PRIMER TAB &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class="card-body p-0 w-100 h-100" style="height: 600px;">
        <div ui-view="tableroCenso"></div>
    </div>
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 2 PRIMER TAB &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class="card-body p-0" ng-show="navTabs[1].objClass.active" style="height: 85%;">
        <div class="container-fluid detalleGerenciaMainCont m-0 p-0">
            <div class="row no-gutters rowCont m-0 p-0" style="padding: 0px; background-color: #FFFFFF">
                <div class="col-12 m-0 pt-3 colCont">


                </div>
            </div>
        </div>
    </div>

    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 3 PRIMER TAB &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class="card-body p-0" ng-show="navTabs[2].objClass.active" style="height: 85%;">
        <div class="container-fluid detalleGerenciaMainCont m-0 p-0">
            <div class="row no-gutters rowCont m-0 p-0" style="padding: 0px; background-color: #FFFFFF">
                <div class="col-12 m-0 pt-3 colCont">
                    <div style="width: 100%; height: 600px;">
                        <span>SIN INFORMACIÓN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
