<div class="container" style="background-color: white">
    <form>
        <!--Medida -->
        <div class="form-group row m-0 p-0 bottom-line">
            <label for="inputEmail1" class="col-sm-12 col-form-label base-font-black-normal-md">Medida</label>
            <div class="col-sm-10">
                <!--<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inputEmail1" ng-model="selectedMedida" ng-options="option.txIniciativa for option in lstMedidas track by option.idIniciativa" >-->
                    <!--<option value="d" ng-repeat="d in lstDictamen">{{d.txDictamen}}</option>-->
                <!--</select>-->
                <span>{{selectedMedida.txIniciativa}}</span>
            </div>
        </div>

        <!--Estado -->
        <div class="form-group row m-0 p-0 bottom-line">
            <label for="inputEmail2" class="col-sm-12 col-form-label base-font-black-normal-md">Estado</label>
            <div class="col-sm-10">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" ng-model="selectedEstado" ng-options="option.txEstado for option in lstEstado track by option.idEstado">
                    <!--<option value="d" ng-repeat="d in lstDictamen">{{d.txDictamen}}</option>-->
                </select>
            </div>
        </div>



        <!--Por estado-->
        <div class="form-group row m-0 p-0 bottom-line" style="background-color: #f6f6f6;" ng-repeat="cmp in mock.campos">
            <label class="col-sm-12 col-form-label base-font-black-normal-md">{{cmp.txNombreCampo}}</label>
            <div class="col-sm-12">
                <input ng-model="cmp.nuValue" type="{{(cmp.txTipo.toLowerCase() == 'string')?'text':'number'}}" min="0" class="form-control" placeholder="{{cmp.txNombreCampo}}">
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col">
                <button type="button" class="btn btn-primary" ng-click="guardar()"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="pl-1">Guardar</span></button>
            </div>

            <div class="col" style="text-align: right;">
                <button type="button" class="btn btn-danger" ng-click="cancelar()"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="pl-1">Cancelar</span></button>
            </div>
        </div>

    </form>
</div>

