<style>
    .gridResumen .ui-grid-header-cell .ui-grid-cell-contents {
        height: 100px;
        white-space: normal;
        -ms-text-overflow: clip;
        -o-text-overflow: clip;
        text-overflow: clip;
        overflow: hidden;
        margin-right: 5px;
        margin-left: 5px;
    }

    .gridResumen .ui-grid-cell .ui-grid-cell-contents {
        white-space: normal;
        -ms-text-overflow: clip;
        -o-text-overflow: clip;
        text-overflow: clip;
        overflow: hidden;
        margin-right: 5px;
        margin-left: 5px;
    }

</style>

<!--<div class="card text-center h-100">
    <div style="background-color: whitesmoke; width: 800px; height: 500px;" >
        <div id="grid3" ui-grid="gridOpt2" class="grid" style="width: 800px; height: 500px;"></div>
    </div>
    <div>
        <p>
            La información de la CDMX aún no está validada por las aseguradoras por tal motivo no es oficial
        </p>
    </div>
</div>-->


<div class="row">
    <div class="col-12 col-sm-10">
        <div id="grid3" ui-grid="gridOpt2" class="grid" style="width: 1000px; height: 430px;"></div>
    </div>
    <div class="col-12 col-sm-2">
        <!--
        <p>
            La información de la CDMX aún no está validada por las aseguradoras por tal motivo no es oficial
        </p>
        -->
        <span>Información al : 31/10/2017</span>
    </div>
</div>
